In [1]:
import pandas as pd
from datetime import datetime

# 1. ‡πÇ‡∏´‡∏•‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
df = pd.read_csv('crm_data.csv')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate']) # ‡πÅ‡∏õ‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏£‡∏¥‡∏á‡πÜ

# 2. ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏ß‡∏±‡∏ô‡∏õ‡∏±‡∏à‡∏à‡∏∏‡∏ö‡∏±‡∏ô (‡∏™‡∏°‡∏°‡∏ï‡∏¥‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏ß‡∏±‡∏ô‡∏™‡∏¥‡πâ‡∏ô‡∏õ‡∏µ 2024)
current_date = datetime(2024, 12, 31)

# 3. ‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì RFM (‡∏ó‡πà‡∏≤‡πÑ‡∏°‡πâ‡∏ï‡∏≤‡∏¢ GroupBy)
rfm = df.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (current_date - x.max()).days, # Recency: ‡∏´‡πà‡∏≤‡∏á‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ô‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î‡∏Å‡∏µ‡πà‡∏ß‡∏±‡∏ô
    'CustomerID': 'count',  # Frequency: ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ö‡∏¥‡∏•
    'Amount': 'sum'         # Monetary: ‡∏ú‡∏•‡∏£‡∏ß‡∏°‡∏¢‡∏≠‡∏î‡πÄ‡∏á‡∏¥‡∏ô
})

# ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡πâ‡∏™‡∏∑‡πà‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢
rfm.columns = ['Recency', 'Frequency', 'Monetary']

print("--- ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ 5 ‡∏Ñ‡∏ô‡πÅ‡∏£‡∏Å ---")
display(rfm.head())

--- ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ 5 ‡∏Ñ‡∏ô‡πÅ‡∏£‡∏Å ---

            Recency  Frequency  Monetary
CustomerID
C001             23         14     27839
C002             79         11     31739
C003             14         11     34276
C004              1         12     31282
C005             28          9     19416

In [2]:
# ‡∏Å‡∏£‡∏≠‡∏á‡∏´‡∏≤‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ Champion ‡∏ï‡∏≤‡∏°‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç
champion_customers = rfm[
    (rfm['Recency'] <= 30) &       # ‡πÄ‡∏û‡∏¥‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠‡∏†‡∏≤‡∏¢‡πÉ‡∏ô 30 ‡∏ß‡∏±‡∏ô
    (rfm['Frequency'] >= 15) &     # ‡∏ã‡∏∑‡πâ‡∏≠‡∏ö‡πà‡∏≠‡∏¢‡πÄ‡∏Å‡∏¥‡∏ô 15 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á
    (rfm['Monetary'] >= 30000)     # ‡πÄ‡∏õ‡∏¢‡πå‡∏´‡∏ô‡∏±‡∏Å‡πÄ‡∏Å‡∏¥‡∏ô 3 ‡∏´‡∏°‡∏∑‡πà‡∏ô
]

# 1. ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠ (CustomerID ‡∏Ñ‡∏∑‡∏≠ Index ‡∏≠‡∏¢‡∏π‡πà‡πÅ‡∏•‡πâ‡∏ß)
print("--- üèÜ ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏Å‡∏•‡∏∏‡πà‡∏° Champion ---")
display(champion_customers)

# 2. ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ô
count = len(champion_customers)
print(f"\n‡∏™‡∏£‡∏∏‡∏õ: ‡πÄ‡∏à‡∏≠‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ Champion ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {count} ‡∏Ñ‡∏ô‡∏Ñ‡∏£‡∏±‡∏ö!")

--- üèÜ ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏Å‡∏•‡∏∏‡πà‡∏° Champion ---

            Recency  Frequency  Monetary
CustomerID
C064             14         15     43028
C073             10         15     46964

‡∏™‡∏£‡∏∏‡∏õ: ‡πÄ‡∏à‡∏≠‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤ Champion ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 2 ‡∏Ñ‡∏ô‡∏Ñ‡∏£‡∏±‡∏ö!